{{#each events}}
<div class="card mx-auto" style="width: 18rem;">
  <img class="card-img-top" src="https://ichef.bbci.co.uk/news/660/cpsprodpb/BF00/production/_103469884_mercbbc.jpg"
    alt="Card image cap">
  <div class="card-body">
    <p class="card-text">The game took place on <strong>{{eventdate}}</strong> in
      {{place}}'s residance.
    </p>
    <br>
    <a href="/results/insertresults:{{_id}}" class="badge badge-primary">Enter results</a>
  </div>
</div>
{{/each}}