<div class="d-flex justify-content-center ">
<table class="table transperant-background">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Buy in</th>
            <th scope="col">Cash out</th>
            <th scope="col">Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each allGames}}
        <tr>
            <th scope="row"><a class="badge-dark" href="/pastevents/details:{{event._id}}">{{event.eventdate}}</a></th>
            <td>{{buyIn}}</td>       
            <td>{{cashOut}}</td>
            <td>0</td>       
        </tr>
        {{/each}}
    </tbody>
</table>
</div>