<table class="table">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Games</th>
            <th scope="col">Bonus</th>
            <th scope="col">Balance</th>
            <th scope="col">Percentile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Todor</th>
            <td>5</td>
            <td>20%</td>
            <td>8165</td>
            <td>153.09</td>
        </tr>

    </tbody>
</table>