{{!-- <div class="container-cash-table">
    <div class="cards-layout flex">
        <a href="/participate" class="card">
					<span class="card-inner">
						<span class="card-media">
							<img src="http://c2.staticflickr.com/8/7437/12882215073_70f85ae0be_n.jpg">
						</span>
						<span class="card-meta">
							<span class="title"><strong>Date:</strong>01.01.2019</span>
							<span class="desc"><strong>Place:</strong> Toni's residence</span>
							<span class="desc"><strong>Participants:</strong></span>
							<ul>
								<li>Todor</li>
								<li>Rosen</li>
								<li>Toni</li>
							</ul>
						</span>
						<span class="card-footer">
							The big winner for the night is Todor
						</span>
					</span>
				</a>

				<a href="https://www.flickr.com/photos/kdankov/15917575603/in/datetaken/" class="card">
					<span class="card-inner">
						<span class="card-media">
							<img src="http://c2.staticflickr.com/8/7437/12882215073_70f85ae0be_n.jpg">
						</span>
						<span class="card-meta">
							<span class="title">Card Title</span>
							<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!</span>
						</span>
						<span class="card-footer">
							More interesting things about the thing
						</span>
					</span>
				</a>

				<a href="https://www.flickr.com/photos/kdankov/15917575603/in/datetaken/" class="card">
					<span class="card-inner">
						<span class="card-media">
							<img src="http://c2.staticflickr.com/8/7437/12882215073_70f85ae0be_n.jpg">
						</span>
						<span class="card-meta">
							<span class="title">Card Title</span>
							<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!</span>
						</span>
						<span class="card-footer">
							More interesting things about the thing
						</span>
					</span>
				</a>
				<a href="https://www.flickr.com/photos/kdankov/15917575603/in/datetaken/" class="card">
					<span class="card-inner">
						<span class="card-media">
							<img src="http://c2.staticflickr.com/8/7437/12882215073_70f85ae0be_n.jpg">
						</span>
						<span class="card-meta">
							<span class="title">Card Title</span>
							<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!</span>
						</span>
						<span class="card-footer">
							More interesting things about the thing
						</span>
					</span>
				</a>
				<a href="https://www.flickr.com/photos/kdankov/15917575603/in/datetaken/" class="card">
					<span class="card-inner">
						<span class="card-media">
							<img src="http://c2.staticflickr.com/8/7437/12882215073_70f85ae0be_n.jpg">
						</span>
						<span class="card-meta">
							<span class="title">Card Title</span>
							<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!</span>
						</span>
						<span class="card-footer">
							More interesting things about the thing
						</span>
					</span>
				</a>
				<a href="https://www.flickr.com/photos/kdankov/15917575603/in/datetaken/" class="card">
					<span class="card-inner">
						<span class="card-media">
							<img src="http://c2.staticflickr.com/8/7437/12882215073_70f85ae0be_n.jpg">
						</span>
						<span class="card-meta">
							<span class="title">Card Title</span>
							<span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!</span>
						</span>
						<span class="card-footer">
							More interesting things about the thing
						</span>
					</span>
				</a>

    </div>
</div> --}}