<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron radius">
  <div class="container">
    <h1 class="display-1 main-header main-title">Casino lounge!</h1>
    <p class="main-header sub-title">The league of champions!</p>
  </div>
</div>

<div class="d-flex justify-content-center cards-container">
  {{#each mappedUsers}}
  <div class="card custom-card">
    <img src="{{picture}}" class="card-img-top" style="width: 10rem; height: 6rem" alt="{{name}}">
    <span class="bottom-right">{{totalPoints}}%</span>
    <div class="card-body" style="padding: 10px justify-content-center">
      <h6 class="card-title text-picture">{{name}}</h6>
    </div>
  </div>  
  {{/each}}
</div>