<div class="alert alert-dark" role="alert">
  Looks like there are no events in DB.You can <a href="/addevent" class="alert-link">Add an event</a> or return to <a href="/" class="alert-link">Home page</a>.
</div>